body {
  margin: 0;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
}

.logo img {
  height: 50px; /* Adjust as needed */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px; /* Adjust spacing as needed */
}

nav ul li {
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: azure;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #333; /* Adjust hover color as needed */
}
.capa {
  background-color: silver;
}
